.lato {
  font-family: var(--lato);
}
.josefin {
  font-family: var(--josefin);
}
.black {
  color: var(--black);
}
.black_bg {
  background: var(--black);
}
.orange {
  color: var(--orange);
}
.orange_bg {
  background: var(--orange);
}

.white {
  color: white;
}
.white_bg {
  background: var(--white);
}
