footer {
  background: url("../image/background/1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.footer_content {
  h5 {
    font-weight: 600;
    color: var(--white);
    margin-bottom: 30px;
    @include screen-992{
      margin-bottom: 20px;
    }
  }
  p {
    width: 295px;
    color: var(--white);
    margin-bottom: 35px;
    @media (max-width: 575px) {
      width: 100%;
    }
  }
  ul {
    li {
      color: var(--white);
      &:hover {
        a {
          color: var(--orange);
          padding-left: 7px;
          i {
            color: var(--text);
          }
        }
      }
      & + li {
        margin-top: 11px;
      }
      a {
        color: var(--white);
        display: block;
        transition: var(--transition);
        width: 165px;
        font-family: var(--lato);
        i {
          color: var(--text);
          font-size: 13px;
          display: inline-block;
          margin-right: 5px;
        }
      }
    }
  }
}

.footer_bottom {
  padding: 40px 0;
  @include screen-992{
    padding: 30px 0;
  }
  @include screen-575{
    padding: 20px 0;
  }
  p {
    color: var(--white);
  }
}

.social_icon {
  li {
    &:hover {
      a {
        color: var(--orange);
      }
    }
    a {
      background: var(--gray);
      color: var(--white);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 43px;
      height: 42px;
      transition: var(--transition);
      margin-bottom: 0;
      font-size: 17px;
    }
  }
}

.footer_contact {
  li {
    p {
      font-family: var(--lato);
    }
    a {
      font-size: 16px;
      font-family: var(--lato);
      &:hover {
        color: var(--orange);
      }
    }
    & + li {
      margin-top: 13px;
    }
  }
}

.footer_subscrive {
  @include screen-460{
    margin-bottom: 30px;
  }

  h4 {
    width: 433px;
    margin: auto;
    max-width: 100%;
  }
  form {
    position: relative;
    height: 64px;
    @include screen-768{
      height: 55px;
    }
    input {
      background: var(--gray);
      width: 100%;
      height: 100%;
      font-family: var(--lato);
      color: var(--text);
      padding-left: 20px;
      border: 0;
      &::placeholder {
        color: var(--text);
      }
    }
    button {
      position: absolute;
      right: 5px;
      border: none;
      top: 5px;
      padding: 0 46px;
      border: 1px solid transparent;
      height: 83%;
      &:hover {
        border: 1px solid var(--orange);
      }
      @include screen-575 {
        padding: 0 30px;
      }
      @include screen-460{
        position: inherit;
        right: 0;
      }
    }
  }
}

.footer_right{
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

// back to top
.back_top {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white);
  width: 45px;
  height: 45px;
  text-align: center;
  position: fixed;
  transition: 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  bottom: 25px;
  right: 115px;
  transform: translateX(-50%);
}
.back_top:active {
  background-color: var(--secondary-color);
}
.back_top.show {
  opacity: 1;
  visibility: visible;
}
