/******************** preloader ******************/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100000;
}

#dots2 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -25px 0 0 -25px;
}

#dots2 span {
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  animation: dots2 1s infinite ease-in-out;
}

#dots2 span:nth-child(1) {
  left: 0;
  animation-delay: .2s;
  // background: #f27044;
}

#dots2 span:nth-child(2) {
  left: 20px;
  animation-delay: .4s;
  // background: #100e10;
}

#dots2 span:nth-child(3) {
  left: 35px;
  animation-delay: .6s;
  // background: #100e10;
}

#dots2 span:nth-child(4) {
  left: 50px;
  animation-delay: .8s;
  // background: #f27044;
}



@keyframes dots2 {
  0% {
    transform: translateX(5px);
    background: #000;
}
50% {
    transform: translateX(-5px);
    background: #000;
}

100% {
    transform: translateX(7px);
    background: #000;
}
}

/*****  scroll to top *****/
.scroll-top-btn {
  width: 49px;
  height: 55px;
  background-color: var(--black);
  position: fixed;
  bottom: 4px;
  right: 40px;
  z-index: 10;
  font-weight: 500;
  transition: var(--transition);
  border: none;
  outline: none;
  border-radius: 20px 20px 0px 0px;
  @include screen-768 {
    background: transparent;
    right: 20px;
  }
}
.scroll-top-btn:hover {
  transform: translateY(-5px);
}
