.container {
  max-width: 1140px !important;
  margin: auto;
}
body {
  font-family: var(--josefin);
}
/******  Font Size  ********/

h1 {
  font-size: 150px;
  @include screen-768 {
  }
}

h2 {
  font-size: 60px;
  @include screen-768 {
  }
}

h3 {
  font-size: 46px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  color: var(--text);
}

.f-72 {
  font-size: 72px;
  @include screen-768 {
  }
}

.f-36 {
  font-size: 36px;
  @include screen-768 {
  }
}

.f-22 {
  font-size: 22px;
  @include screen-768 {
  }
}
.f-14 {
  font-size: 14px;
}

/******  Font weight  ********/
.fl {
  font-weight: 300;
}
.fr {
  font-weight: 400;
}
.fm {
  font-weight: 500;
}
.fsb {
  font-weight: 600;
}
.fb {
  font-weight: 700;
}
.feb {
  font-weight: 800;
}

/****** custom class  ********/
.bb {
  border-bottom: 1px solid var(--gray);
}

.tran {
  transition: var(--transition);
}

.img {
  overflow: hidden;
  img {
    transition: var(--transition);
    &:hover {
      transform: scale(1.1);
    }
  }
}

.justify {
  text-align: justify;
}


.center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input {
  &:focus {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
  }
}

.form-select:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
}

select {
  border: none;
  background-color: transparent;
  option {
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color) !important;
    }
    &:focus-visible {
      outline: none !important;
    }
  }
}

select:focus {
  box-shadow: none;
}

.slider-spacing {
  .slick-list {
    margin: 0 -12px;
    .slick-slide {
      margin: 0 12px;
    }
  }
}

.custom_dots {
  .slick-dots {
    cursor: pointer;
    top: 50%;
    position: absolute;
    right: 79%;
    transform: translateY(-50%);
    li {
      span {
        margin: 3px 0;
        width: 2px;
        height: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        background: var(--white);
      }
      &.slick-active span {
        background: rgb(151 151 151);
      }
    }
  }
}
.custom_dots2 {
  .slick-dots {
    cursor: pointer;
    top: 50%;
    position: absolute;
    right: 79%;
    transform: translateY(-50%);
    li {
      span {
        margin: 3px 0;
        width: 10px;
        height: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        background:  rgb(151 151 151);
        border-radius: 50%;
      }
      &.slick-active span {
        background: var(--orange);
      }
    }
  }
}

.video_play {
  margin-bottom: 35px;
  a {
    width: 65px;
    height: 65px;
    color: white;
    position: relative;
    z-index: 1;
    animation: blood3 2.2s infinite;
    i {
      font-size: 20px;
    }
  }
  h6 {
    font-weight: 600;
    margin-left: 15px;
  }
}
