// Google Font
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
  --black: #1c1c1c;
  --orange: #ee6b0b;
  --white: #fff;
  --text: #7a7a7a;
  --transition: all 0.3s ease-in;
  --gray: #1c1c1c;
  --shadow: 0px 0px 20px #0000002b;
  --lorange:#fce2d0;
  --offwhite:#fef7f3;
  --light_gray:#f8f8f8;
}
