// Google Font
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --lato: "Lato", sans-serif;
  --josefin: "Josefin Sans", sans-serif;
  --black: #1c1c1c;
  --orange: #ee6b0b;
  --white: #fff;
  --text: #7a7a7a;
  --transition: all 0.3s ease-in;

  //
  //
  //
  //
  --primary-color: #ea062b;
  --secondary-color: #111111;
  --white: #fff;
  --gray: #e7e7e7;
  --gray1: #f5f5f5;
  --gray2: #f1f1f1;
  --yellow: #ffc92e;
  --transition: all 0.3s ease-in;
  --font: "Jost", sans-serif;
  --p-color: #666666;
  --border-color: #cacaca;
  --shadow: 0px 0px 20px #0000002b;
  --transition: 0.3s;
  --gray_bg: #f9f9f9;
  --sidebar-color: #f9f9f9;
}
