.about_experi {
  background: #fcfcfc;
}

.give_left {
  padding-left: 250px;
  @media (max-width: 1600px) {
    padding-left: 100px;
  }
  @media (max-width: 1400px) {
    padding-left: 0px;
  }
  .give_left_item {
    background: #f4f4f4;
    &:hover {
      background: var(--orange);
      h5 {
        background: var(--white);
        color: var(--black);
      }
      p {
        color: white;
      }
    }
    h5 {
      padding: 10px 35px;
      background: var(--orange);
    }
  }
}

.give_right {
  .gr_com {
    left: 20px;
    bottom: 20px;
    width: 200px;
    background: #ee6b0bbd;
    padding: 22px;
    @include screen-400 {
      left: 10px;
      bottom: 10px;
    }
    h6 {
      line-height: 25px;
    }
  }
}

//invested
.invest_about {
  &::before {
    display: none;
  }
}

// accordion
.ch_accordion {
  width: 71%;
  position: relative;
  z-index: 1;
  @include screen-1199 {
    width: 99%;
  }
  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    background: gray;
    left: 80px;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    @media (max-width: 427px) {
      display: none;
    }
  }
  .accordion-item {
    background-color: transparent;
    border: none;
    &:first-of-type .accordion-button {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .accordion-header {
      .accordion-button {
        background: transparent;
        color: white;
        font-size: 24px;
        font-weight: 700;
        padding: 10px 0;
        @include screen-1199 {
          font-size: 20px;
        }
        .date {
          width: 50px;
          display: inline-block;
        }
        .dot {
          font-size: 13px;
          display: inline-block;
          margin: 0 24px;
          @media (max-width: 427px) {
            margin: 0 7px;
            font-size: 10px;
          }
        }
        &:focus {
          border-color: none;
          box-shadow: none;
        }
        &:not(.collapsed) {
          box-shadow: none;
          color: var(--orange);
        }
      }
    }
    .accordion-body {
      padding: 10px 0;
      margin-left: 111px;
      @media (max-width: 427px) {
        margin-left: 25px;
      }
      p {
        color: white;
      }
    }
  }
}
