
    .news_img2{
        h6 {
            bottom: inherit;
            top: 0;
            height: 61px;
            padding: 10px!important;
            left: 0px!important;
            width: 57px;
            text-align: center;
        }
    }
