//banner
.hm2_hero_slider {
  &.custom_dots {
    .slick-dots {
      top: inherit;
      bottom: 40px;
      display: flex;
      gap: 13px;
      right: 48%;
      li {
        span {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.hm2_hero_slider .prev-arrow {
  left: 17%;
  top: 50%;
  transform: translateY(-50%);
  @include screen-992 {
    top: inherit;
    bottom: 40px;
    left: 44%;
  }
  @include screen-768 {
    left: 40%;
    bottom: 30px;
  }
  @include screen-400 {
    left: 36%;
    bottom: 10px;
  }
}
.hm2_hero_slider .next-arrow {
  left: inherit;
  right: 17%;
  top: 50%;
  transform: translateY(-50%);
  @include screen-992 {
    top: inherit;
    bottom: 40px;
    right: 44%;
  }
  @include screen-768 {
    right: 40%;
    bottom: 30px;
  }
  @include screen-400 {
    right: 36%;
    bottom: 10px;
  }
}

// service
.service2 {
  .service_item {
    position: relative;
    &:hover {
      .service_content {
        background: var(--orange);
        h5 {
          color: white;
        }
        p {
          color: white;
        }
        a.orange_bg {
          background: var(--black);
        }
      }
    }
    .service_content {
      a.orange_bg {
        color: white;
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
  }
}

// invested
.invested {
  background: url("../image/background/4.jpg") no-repeat;
  background-position: center;
  padding: 60px 0;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    left: 50%;
    transform: translatex(-50%) rotate(46deg);
    top: -23px;
  }
  @include screen-768 {
    padding: 50px 0;
  }
}

//experience
.experience {
  background: #f4f4f4;
  .ex_img {
    clip-path: polygon(
      74% 0,
      100% 24%,
      100% 74%,
      74% 100%,
      24% 100%,
      0 74%,
      0 24%,
      24% 0
    );
    background-color: var(--orange);
    height: fit-content;
  }
  .ex_cont {
    h6 {
      font-size: 20px;
    }
  }
  &:hover {
    background: var(--orange);
    .ex_img {
      background-color: white;
      svg{
        path{
          fill: var(--orange);
          opacity: 1;
        }
      }
    }
    .ex_cont {
      h6 {
        color: var(--white);
      }
      p {
        color: white;
      }
    }
  }
}

//work slider
.work_slider .prev-arrow,
.work_slider .next-arrow {
  position: absolute;
  color: var(--text);
  z-index: 666;
  border: none;
  width: 43px;
  height: 43px;
  background: var(--lorange);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  &:hover {
    background: var(--orange);
    color: white;
  }
  @include screen-400 {
    width: 35px;
    height: 35px;
  }
}
.work_slider {
  .prev-arrow {
    top: -95px;
    right: 70px;
    @include screen-400 {
      right: 16px;
    }
  }
  .next-arrow {
    top: -95px;
    right: 15px;
    @include screen-400 {
      top: -50px;
    }
  }
}

// testimonial slider
.testimonials__slider {
  &.custom_dots {
    .slick-dots {
      right: -2%;
      @include screen-1260{
        bottom: -50px;
        top: inherit;
        display: flex;
        gap: 10px;
        left: 50%;
      }
      li {
      &.slick-active span {
            background: var(--orange);
          }
        span {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: var(--lorange);
          
        }
      }
    }
  }
  .slick-track {
    padding-bottom: 20px;
  }
}
.testim_item {
  @include screen-400{
    flex-wrap: wrap;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: var(--orange);
  }
  .testim_content {
    p {
      font-style: italic;
    }
  }
}

//footer_subscribe
.footer_sub2 {
  padding: 60px 0;
  @include screen-768 {
    padding: 50px 0;
  }
  .footer_subscrive {
    form {
      input {
        background: white;
      }
      button {
        background: var(--black);
        top: 0;
        right: 0;
        height: 100%;
        color: white;
        padding: 0 26px;
        border: 1px solid transparent;
        &:hover {
          background: var(--orange);
          border-color: white;
        }
        @include screen-460 {
          position: absolute;
        }
      }
    }
  }
}

//book an appointment
.site_form2 {
  form {
    input {
      background: #f8f8f8;
      border: none;
      border-radius: 0px;
    }
    textarea {
      background: #f8f8f8;
      border: none;
      border-radius: 0px;
    }
  }
}
