// hero section
.hm1_hero {
  padding: 255px 0;
  background-position: center center;
  position: relative;
  @include screen-1199 {
    padding: 180px 0;
  }
  @include screen-768 {
    padding: 100px 0;
  }
  @include screen-575 {
    padding: 70px 0;
  }
  &.hm1 {
    background: url("../image/banner/b1.jpg") no-repeat;
  }
  &.hm12 {
    background: url("../image/banner/b4.jpg") no-repeat;
  }
  &.hm13 {
    background: url("../image/banner/b5.jpg") no-repeat;
  }
}

.hm_bg {
  background-size: 100% 100%;
  overflow: hidden;
  @media (max-width: 1200px) {
    background-size: cover;
    animation: none;
  }
}

.hm1_hero_slider {
  background: #fef7f3;
  .slick-slide.slick-active {
    .hm_bg {
      animation: 10s background_animation linear;
      @media (max-width: 1200px) {
        animation: none;
      }
    }
  }
}

@keyframes background_animation {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 103% 103%;
  }
}

.hm1_hero_slider .prev-arrow,
.hm1_hero_slider .next-arrow {
  position: absolute;
  color: #3e3e3e;
  z-index: 666;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 43px;
  height: 43px;
  background: #7a7a7acf;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  &:hover {
    background: white;
  }
}
.hm1_hero_slider {
  .prev-arrow {
    left: 78%;
    top: 47%;
    @include screen-1199 {
      top: inherit;
      bottom: 40px;
      left: 47%;
      transform: translateX(-50%);
    }
    @include screen-768 {
      left: 45%;
      width: 40px;
      height: 40px;
    }
    @include screen-460 {
      left: 42%;
      bottom: 20px;
    }
  }
  .next-arrow {
    top: 53%;
    left: 78%;
    @include screen-1199 {
      top: inherit;
      bottom: 40px;
      left: 53%;
      transform: translateX(-50%);
    }
    @include screen-768 {
      width: 40px;
      height: 40px;
      left: 55%;
    }
    @include screen-768 {
      left: 58%;
      bottom: 20px;
    }
  }
}

.hm1_hero_slider {
  .slick-slide.slick-active {
    .hm1_content {
      h4 {
        animation: 2s theme_fadeInUp;
      }
      h2 {
        animation: 2.5s theme_fadeInUp;
      }
      a.default-btn {
        animation: 3s theme_fadeInUp;
      }
    }
  }
}

@keyframes theme_fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// feature start
.feature {
  background: url("../image/banner/2.png") no-repeat;
  background-size: cover;
  background-position: center;
  .feature_item {
    &:hover {
      background: var(--orange);
      span {
        svg {
          path {
            fill: white;
          }
        }
      }
      h5 {
        color: var(--white);
      }
      p {
        color: var(--white);
      }
    }
    span {
      svg {
        width: 70px;
        height: 60px;
        path {
          transition: var(--transition);
        }
      }
    }
  }
}

//welcome to our
.wel_shape {
  bottom: 6%;
  left: 13%;
  z-index: -1;
  @media (max-width: 1530px) {
    left: 9%;
  }
  @media (max-width: 1420px) {
    left: 5%;
  }
  @media (max-width: 1220px) {
    left: 1%;
  }
  @media (max-width: 1120px) {
    bottom: 10%;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.wl_year {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  right: -70px;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--orange);
  outline: 9px solid white;
  padding: 6px;
  transform: translateY(-50%);
  @include screen-768 {
    right: 10px;
    top: inherit;
    bottom: 10px;
    transform: inherit;
    width: 130px;
    height: 130px;
  }
}

.welcome_right {
  padding-left: 80px;
  @include screen-768 {
    padding-left: 0;
  }
}
// counter
.hm1_counter {
  background: url("../image/background/2.jpg") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-top: 85px;
  padding-bottom: 50px;
  overflow: hidden;
}

// service
.service {
  background-size: cover;
  background-position: bottom;
  .service_item {
    &:hover {
      .ser_img {
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .ser_img {
      img {
        width: 100%;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000082;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
      }
    }
    .service_content {
      &:hover {
        a {
          color: var(--orange);
          h6 {
            i {
              transform: translateX(5px);
            }
          }
        }
      }
      h5 {
        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.more_service {
  flex-wrap: wrap;
  &::before {
    content: "";
    position: absolute;
    width: 98%;
    height: 98%;
    background: transparent;
    border: 1px solid var(--orange);
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
    @include screen-575 {
      top: 50%;
    }
  }
  h4 {
    width: 62%;
    @include screen-768 {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  .more_shape {
    right: 30%;
    bottom: 14%;
    animation: 2s shape1 linear infinite;
  }
}
@keyframes shape1 {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(20px);
  }
}

// how it work
.work_item {
  box-shadow: var(--bs-box-shadow);
  border: 2px solid transparent;
  &:hover {
    box-shadow: none;
    border-color: var(--orange);
  }
  a.default-btn {
    padding: 11px 30px;
  }
}

// our best work

.best_work {
  &:hover {
    .bw_hover {
      visibility: visible;
      opacity: 1;
      height: 37%;
    }
  }
  .bw_hover {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #00000073;
    padding: 14px;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all linear;
    h5 {
      &:hover {
        color: var(--orange);
      }
    }
    a.tran.center {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: var(--orange);
      &:hover {
        background: var(--black);
      }
    }
  }
}
.rows {
  @media (max-width: 460px) {
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

// our team
.our_team {
  &:hover {
    .team_img {
      .team_hover {
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .team_img {
    img {
      width: 100%;
    }
    .team_hover {
      top: 0;
      left: 0;
      background: #00000054;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transform: scale(0.5);
      visibility: hidden;
      opacity: 0;
      ul {
        li {
          a {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: var(--white);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition);
            color: var(--orange);
          }
          &:hover {
            a {
              background: var(--black);
              color: var(--white);
            }
          }
        }
      }
    }
  }
}

// testimonial
.testimonial {
  background: url("../image/banner/b2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  .testi_slider {
    h5 {
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

//book an appointed
.appoint {
  background-size: cover;
  background-position: center;
}

.appoint_contact {
  div.white_bg.text-center {
    padding: 22px 27px;
  }
  &include screen-1260 {
    padding: 20px 25px;
  }
}

.site_form {
  form {
    input {
      height: 50px;
      padding-left: 20px;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      &::placeholder {
        color: #d6d4d4;
      }
    }
    textarea {
      color: #d6d4d4;
      padding-left: 20px;
      border: 1px solid #e8e8e8;
      padding-top: 20px;
      &:focus {
        color: var(--black);
      }
    }
    button.default-btn {
      padding: 13px 20px;
      font-size: 16px;
    }
  }
}
// news
.news_content_item {
  box-shadow: var(--shadow);
  height: 100%;
  &:hover {
    .news_img {
      img {
        transform: scale(1);
      }
      &::before {
        visibility: visible;
        opacity: 1;
      }
      h6 {
        background: var(--black);
      }
    }
    .news_content {
      a {
        color: var(--orange);
      }
    }
  }
  .news_img {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #00000059;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
      z-index: 1;
    }
    img {
      transform: scale(1.05);
      transition: var(--transition);
      width: 100%;
    }
    h6 {
      bottom: 0;
      padding: 14px 23px;
      background: var(--orange);
      left: 15px;
      z-index: 2;
      position: relative;
      @include screen-768 {
        padding: 10px 20px;
      }
    }
  }
  .news_content {
    padding: 18px;
    background: var(--white);
    padding-bottom: 22px;
    .meta {
      margin-bottom: 16px;
      span {
        font-size: 16px;
      }
    }
    h5 {
      font-size: 22px;
      margin-bottom: 9px;
      font-weight: 700;
      color: var(--black);
      transition: var(--transition);
      &:hover {
        color: var(--orange);
      }
      @include screen-768 {
        font-size: 19px;
      }
    }
    p {
      margin-bottom: 13px;
    }
    a {
      color: var(--black);
      font-weight: 700;
      font-size: 16px;
      transition: var(--transition);
      display: inline-flex;
      align-items: center;
      gap: 7px;
    }
  }
}
