// hero section
.hm1_hero {
  padding: 255px 0;
  background-position: center center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    background: rgb(0 0 0 / 48%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &.hm1 {
    background: url("../image/banner/b1.jpg") no-repeat;
  }
  &.hm12 {
    background: url("../image/banner/b1.jpg") no-repeat;
  }
  &.hm13 {
    background: url("../image/banner/b1.jpg") no-repeat;
  }
}

.hm_bg {
  background-size: 100% 100%;
  overflow: hidden;
  @media (max-width: 1200px) {
    background-size: cover;
    animation: none;
  }
}

.hm1_hero_slider {
  .slick-slide.slick-active {
    .hm_bg {
      animation: 10s background_animation linear;
      @media (max-width: 1200px) {
        animation: none;
      }
    }
  }
}

@keyframes background_animation {
  from {
    background-size: 100% 100%;
  }

  to {
    background-size: 103% 103%;
  }
}

.hm1_hero_slider .prev-arrow,
.hm1_hero_slider .next-arrow {
  position: absolute;
  color: #3e3e3e;
  z-index: 666;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  width: 43px;
  height: 43px;
  background: #7a7a7acf;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  &:hover {
    background: white;
  }
}
.hm1_hero_slider {
  .prev-arrow {
    left: 78%;
    top: 47%;
  }
  .next-arrow {
    top: 53%;
    left: 78%;
  }
}

.hm1_hero_slider {
  .slick-slide.slick-active {
    .hm1_content {
      h4 {
        animation: 2s theme_fadeInUp;
      }
      h2 {
        animation: 2.5s theme_fadeInUp;
      }
      a.default-btn {
        animation: 3s theme_fadeInUp;
      }
    }
  }
}

@keyframes theme_fadeInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
// feature start
.feature {
  background: url("../image/banner/2.png") no-repeat;
  background-size: cover;
  background-position: center;
  .feature_item {
    &:hover {
      background: var(--orange);
      h5 {
        color: var(--white);
      }
      p {
        color: var(--white);
      }
    }
  }
}

//welcome to our
.wel_shape {
  bottom: 6%;
  left: 17%;
  z-index: -1;
}

.wl_year {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  right: 0;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--orange);
  outline: 9px solid white;
  padding: 6px;
}

// counter
.hm1_counter {
  background: url("../image/background/2.jpg") no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  padding-top: 85px;
  padding-bottom: 50px;
  overflow: hidden;
}

// service
.service {
  background: url("../image/banner/3.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  .service_item {
    &:hover{
      .ser_img{
        &::before{
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .ser_img {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #00000082;
        visibility: hidden;
        opacity: 0;
        transition: var(--transition);
      }
    }
    .service_content {
      &:hover {
        a {
          color: var(--orange);
          h6 {
            i {
              transform: translateX(5px);
            }
          }
        }
      }
    }
  }
}

.more_service{
  &::before{
    content: '';
    position: absolute;
    width: 98%;
    height: 98%;
    background: transparent;
    border: 1px solid var(--orange);
    left: 50%;
    top: 56%;
    transform: translate(-50%, -50%);
  }
  h4{
    width: 62%;
  }
  .more_shape{
    right: 30%;
    bottom: 14%;
    animation: 2s shape1 linear infinite;
  }
}
@keyframes shape1{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(20px);
  }
}

// how it work
.work_item{
  box-shadow: var(--bs-box-shadow);
  border: 2px solid transparent;
  &:hover{
    box-shadow: none;
    border-color: var(--orange);
  }
  a.default-btn{
    padding: 11px 30px;
  }
}
/********** blood project css ******************/
// news
.news_content_item {
  box-shadow: var(--shadow);
  height: 100%;
  &:hover {
    .news_img {
      img {
        transform: scale(1.09);
      }
      a {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }
    }
    .news_content {
      a {
        color: var(--primary-color);
      }
    }
  }
  .news_img {
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
      transition: 0.4s;
      transform: scale(1);
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #00000094;
      justify-content: center;
      align-items: center;
      color: var(--white);
      left: 0;
      top: 0;
      display: inline-flex;
      font-size: 26px;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
      transform: scale(0);
    }
  }
  .news_content {
    padding: 20px;
    background: var(--white);
    .meta {
      margin-bottom: 25px;
      span {
        color: var(--primary-color);
        font-size: 16px;
      }
    }
    h5 {
      margin-bottom: 30px;
      font-weight: 700;
      color: var(--secondary-color);
      transition: var(--transition);
      &:hover {
        color: var(--primary-color);
      }
    }
    p {
      margin-bottom: 25px;
    }
    a {
      color: var(--secondary-color);
      font-weight: 700;
      font-size: 16px;
      transition: var(--transition);
      i {
        font-size: 12px;
      }
    }
  }
}

// team
.team {
  padding-bottom: 100px;
  @media (max-width: 767px) {
    padding-bottom: 40px;
  }
  .team_details {
    padding: 25px;
    padding-bottom: 0;
    background: var(--white);
    -webkit-box-shadow: 0px 0px 20px #0000002b;
    box-shadow: 0px 0px 20px #0000001c;
    &:hover {
      .team_img {
        overflow: hidden;
        img {
          transform: scale(1.09);
        }
        ul {
          visibility: visible;
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    .team_img {
      position: relative;
      img {
        transition: 0.5s;
        transform: scale(1);
      }
      ul {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000008c;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 11px;
        transform: scale(0.6);
        transition: var(--transition);
        visibility: hidden;
        opacity: 0;

        li {
          &:hover {
            a {
              background: var(--primary-color);
              color: white;
            }
          }
          &:nth-child(1) {
            a {
              border-radius: 25px 0px 0px 25px;
            }
          }
          &:nth-child(4) {
            a {
              border-radius: 0px 25px 25px 0px;
            }
          }
          a {
            width: 40px;
            height: 40px;
            background: var(--white);
            color: var(--primary-color);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: var(--transition);
          }
        }
      }
    }
    .team_content {
      padding: 30px;
      h5 {
        margin-bottom: 20px;
        font-weight: 600;
        transition: var(--transition);
        color: var(--secondary-color);
        &:hover {
          color: var(--primary-color);
        }
      }
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}




