// service
.service2 {
  .service_item {
    position: relative;
    &:hover {
      .service_content {
        background: var(--orange);
        h5 {
          color: white;
        }
        p {
          color: white;
        }
        a.orange_bg {
          background: var(--black);
        }
      }
    }
    .service_content {
      a.orange_bg {
        color: white;
        position: absolute;
        bottom: -20px;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translateX(-50%);
        border-radius: 50%;
      }
    }
  }
}

// invested
.invested {
  background: url("../image/background/4.jpg") no-repeat;
  background-position: center;
  padding: 60px 0;
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: white;
    left: 50%;
    transform: translatex(-50%) rotate(46deg);
    top: -23px;
  }
  @include screen-768 {
    padding: 50px 0;
  }
}

//experience
.experience {
  background: #f4f4f4;
  .ex_img {
    clip-path: polygon(
      74% 0,
      100% 24%,
      100% 74%,
      74% 100%,
      24% 100%,
      0 74%,
      0 24%,
      24% 0
    );
    background-color: var(--orange);
    height: fit-content;
  }
  .ex_cont {
    h6 {
      font-size: 20px;
    }
  }
  &:hover{
    background: var(--orange);
    .ex_img{
      background-color: white;
    }
    .ex_cont{
      h6{
        color: var(--white);
      }
      p{color: white;}
    }
  }
}

//footer_subscribe
.footer_sub2 {
  padding: 60px 0;
  @include screen-768 {
    padding: 50px 0;
  }
  .footer_subscrive {
    form {
      input {
        background: white;
      }
      button {
        background: var(--black);
        top: 0;
        right: 0;
        height: 100%;
        color: white;
        padding: 0 26px;
        border: 1px solid transparent;
        &:hover {
          background: var(--orange);
          border-color: white;
        }
        @include screen-460 {
          position: absolute;
        }
      }
    }
  }
}

//book an appointment
.site_form2 {
  form {
    input {
      background: #f8f8f8;
      border: none;
      border-radius: 0px;
    }
    textarea {
      background: #f8f8f8;
      border: none;
      border-radius: 0px;
    }
  }
}
