.service1{
  &:hover{
    .service_content{
      a.black.tran{
        color:var(--dark)
      }
    }
  }
  .service_content{
    a.black.tran{
      color: var(--orange);
    }
  }
}

.how_work{
  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: var(--light_gray);
    left: 50%;
    transform: translatex(-50%) rotate(46deg);
    top: -23px;
  }
}